{% extends "accounts/layout.html" %}

{% load crispy_forms_tags %}

{% block title %}Reset Password{% endblock %}

{% block heading %}更改 {{email}} 的密码{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <form action="{% url 'accounts:password_reset_confirm' token %}" method="post">
            {% csrf_token %}

            {{ form|crispy }}

            {% include "partials/button.html" with button=form.button %}

        </form>
    </div>
</div>
{% endblock %}