{% extends "layouts/content.html" %} 

{% block content %}

  {% if isWxOnly %}
    <div class="mt-3">
      <div class="mt-3 text-center">
        <p>绑定FT中文网账号后可以收藏文章</p>
      
        <a class="btn btn-primary" href="{{ user.linkFtc }}">绑定账号</a>
      </div>
    </div>
  {% else %}
    <div class="mt-3">
      {% for article in articles %}
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title"><a href="{{ article.originalUrl }}" target="__blank">{{article.title}}</a></h5>
            <p>{{article.standfirst}}</p>
            <div>
                更新于 <time datetime="{{article.updatedAt}}">{{ article.updatedAt | toCST(false) }}</time>
            </div>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <span>收藏于 <time datetime="{{ article.starredAt }}">{{ article.starredAt | toCST(false) }}</time></span>
            <form action="{{ article.deleteUrl }}" method="post">
              <button class="btn btn-outline-primary py-0">删除</button>
            </form>
          </div>
        </div>
      {% endfor %}
    </div>

    {% include "partials/paging.html" %}
  {% endif %}
{% endblock %}
