{% extends "layouts/base.html" %}

{% block headerDrawer %}
<button class="o-toggle"
        type="button"
        data-toggle="collapse"
        data-target="#o-header-drawer"
        aria-controls="#o-header-drawer"
        aria-expanded="false"
        aria-label="Toggle navigation">

    <svg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" height="40" width="40" preserveAspectRatio="none">
        <title>Menu</title>
        <path d="M768 306.2V383H256v-76.8h512zM256 536.6h512v-76.8H256v76.8zm0 153.6h512v-76.8H256v76.8z"
              fill-rule="evenodd"/>
    </svg>
</button>
{% endblock %}

{% block topBanner %}
{% if requestVerificationAction %}
{% include "partials/request-verification.html" %}
{% endif %}
{% endblock %}

{% block main %}

<div class="row">
    <div class="col-sm-3">
        <div id="o-header-drawer" class="collapse d-sm-block o-header__drawer">

            <!-- Close button -->
            <div class="pt-2">
                <!-- Displayed only on small screen -->
                <button class="o-toggle"
                        type="button"
                        data-toggle="collapse"
                        data-target="#o-header-drawer"
                        aria-controls="#o-header-drawer"
                        aria-expanded="false"
                        aria-label="Toggle navigation">

                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" height="40" with="40">
                        <path fill="#fff"
                              d="M697.4 759.2l61.8-61.8L573.8 512l185.4-185.4-61.8-61.8L512 450.2 326.6 264.8l-61.8 61.8L450.2 512 264.8 697.4l61.8 61.8L512 573.8z"/>
                    </svg>
                </button>
            </div>

            <nav class="nav flex-column">

                {% for item in sideNav %}
                <a class="nav-link{% if item.active %} active{% endif %}"
                   href="{{item.href}}">
                    {{item.text}}
                </a>
                {% endfor %}

            </nav>
        </div>

    </div>

    <div class="col-sm-9">

        {% if flash %}
        {{ flash.render() | safe }}
        {% endif %}

        <div class="mt-3">
            {% block content %}{% endblock %}
        </div>

    </div>
</div>

{% endblock %}
