{% extends "auth/layout.html" %}

{% from 'bootstrap5/form.html' import render_field %}
{% from 'components/forms.html' import render_block_submit %}

{% block header %}
{% block title %}登录{% endblock %}
{% endblock %}

{% block content %}
<form method="POST">
    {{ form.csrf_token }}
    {{ render_field(form.email) }}
    {{ render_field(form.password) }}
    {{ render_block_submit(form.submit) }}
</form>

<div class="d-flex justify-content-between mt-3">
    <a href="{{ url_for('auth.register') }}">Sign Up</a>
    <a href="/auth/forgot-password">Forgot Password?</a>
</div>
{% endblock %}