{% extends "layouts/content.html" %} 

{% block content %}

  <div class="mb-3 mt-3">
    <h3>已支付订单</h3>
  </div>

  {% for order in orders %}
  <table class="table table-sm">
    <caption class="text-right">收据</caption>
    <thead>
      <tr>
        <th scope="row">订单ID</th>
        <th>{{ order.orderId }}</td>
      </tr>
    </thead>
    <tbody>  
      <tr>
        <th scope="row">会员类型</th>
        <td>{{ order.tier | localize}}/{{ order.cycle | localize }}</td>
      </tr>
      <tr>
        <th scope="row">价格</th>
        <td>¥{{ order.netPrice | toCurrency }}</td>
      </tr>
      <tr>
        <th scope="row">支付方式</th>
        <td>{{ order.payMethod | localize }}</td>
      </tr>
      <tr>
        <th scope="row">创建时间</th>
        <td>{{ order.createdAt | toCST }}</td>
      </tr>
      <tr>
        <th scope="row">订阅期限</th>
        <td>{{ order.startDate }} ~ {{ order.endDate }}</td>
      </tr>     
    </tbody>
  </table>
  {% endfor %}

{% endblock %}
