{% extends "layouts/content.html" %} 

{% block content %}
  {% if sandbox %}
    <div class="alert alert-danger">⚠️测试模式！</div>
  {% endif %}

  

  <div class="row justify-content-center">
    <div class="col-sm-9">
    
      {% if cart %}
        <div class="text-center mb-5">
          <div class="mb-2">{{cart.header}}</div>
          <div class="fs-2">{{cart.planName}}</div>
          <div>
            <span class="fs-6">{{cart.payable.currency}}</span>
            <span class="fs-2">{{cart.payable.amount}}</span>
            <span class="fs-6">/{{cart.payable.cycle}}</span>
          </div>
          {% if cart.priceOff %}
          <div class="text-muted">
            <del>原价{{cart.originalPrice}}</del>
          </div>
          {% endif %}
        </div>
      {% endif %}
      
      {% if form %}
      <div class="card">
        <div class="card-header">请选择支付方式</div>
        <div class="card-body">
          <form action="{{ form.action }}" method="{{form.method}}">
            
            {% for control in form.controls %}
              {{ control.render() | safe }}
            {% endfor %}

            <div class="mt-3">
              {{ form.submitBtn.render() | safe }}
            </div>
            
          </form>
        </div> 
      </div>
      {% endif %}
      <!-- End card -->

      {% if warning %}
        <div class="text-danger text-center mb-5">
          {{ warning }}
        </div>
      {% endif %}

      {% if qr %}
      <div class="text-center">
        <h4>请打开微信扫码</h4>
        <img src="{{ qr.dataUrl }}" alt="">
        <div class="mt-1">
            <small>微信 -> 发现 -> 扫一扫</small>
        </div>
        <a href="{{ qr.doneLink }}">支付完成？</a>
        <p class="mt-2 text-muted">
          <small>注：由于微信支付技术上的限制，此处购买FT会员仅能支持扫码支付。如果您需要在移动设备上购买，请安装FT中文网APP。</small>
        </p>
      </div>
      {% endif %}

      {% if stripeApiJwt %}
      <div class="mt-3">
        <button class="btn btn-outline-primary btn-block" id="stripe-pay" data-stripe-jwt="{{stripeApiJwt}}">
          <img src="http://www.ftacademy.cn/images/stripe-58x24.png" alt="">
          订阅
        </button>
      </div>
      {% endif %}

    </div>
  </div>

  <div class="row mt-5">
    <div class="col">
      <h3 class="mb-3">注意事项</h3>
  
      <h4>关于Stripe订阅</h4>
      <ul>
        <li>Stripe为自动续订，到期扣款</li>
        <li>FT中文网的Stripe支付不接受人民币计价的银行卡，建议中国大陆以外地区用户使用</li>
        <li>微信登录的用户需要绑定FT中文网账号后才可以使用Stripe订阅</li>
      </ul>
      
      <h4>关于苹果应用内订阅</h4>
      <ul>
        <li>苹果应用内购买属于自动续订，即到期扣款</li>
        <li>苹果内购由苹果公司管理，FT中文网只有您的的订阅信息，需要关闭订阅，请在您的苹果设备上操作：打开设置App，点击您的账号，选择“订阅”项</li>
        <li>标准版升级到高端版也请在苹果设备上的FT中文网App内操作</li>
      </ul>

      <h4>关于微信/支付宝购买</h4>
      <ul>
        <li>微信和支付宝购买属于一次性购买，您可以多次购买，购买的订阅期限累加</li>
      </ul>

      <h4>自动续订期间与一次性购买之间的切换</h4>
      <ul>
        <li>通过一次性购买且会员尚未到期，如果选择Stripe订阅，我们会把您的当前的剩余天数保留至Stripe订阅失效后重新启用</li>
        <li>通过Stripe/苹果内购订阅，可以使用微信/支付宝提供的一次性购买，但购买的订阅期限将在自动续订失效后启用。标准版用户升级高端版不建议采用此方式！</li>
      </ul>

      <h4>关于企业版订阅</h4>
      <ul>
        <li>此处的所有支付方式均属于个人订阅，企业版请联系您的机构管理人员</li>
        <li>企业版订阅的个人可以在此采取一次性购买，购买的订阅期限将在企业版到期后启用</li>
      </ul>
    </div>
  </div>
{% endblock %}
